.camScrennContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camContainer {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputDescCamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qrTitle {
  text-align: center;
  margin: 25px 0;
  font-size: 20px;
  line-height: 24px;
}

.qrSearch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qrSearch input {
  height: 40px;
  width: 280px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
  font-size: 20px;
  letter-spacing: 1.2px;
  padding-left: 45px;
  padding-right: 10px;
}

.qrSearch .qrIcon {
  top: 9px;
  left: 10px;
  color: #777777;
  font-size: 23px;
  position: absolute;
}

.qrSearch .sendCodeBtn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #32CD32;
  height: 40px;
  width: 40px;
  border: none;
}
.qrSearch .sendCodeIcon {
    color: #fff;
    font-size: 25px;

}
