.containerSaldo {
    background-color: #181818;
    display: flex;
    max-width: 360px;
    flex-direction: column;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 80px 27px;
  }
  .Saldo {
    border-radius: 10px;
    background-color: #a25ca4;
    display: flex;
    margin-top: 23px;
    gap: 20px;
    padding: 13px 17px;
  }
  .tituloSaldo {
    margin: auto 0;
    font: 500 14px Roboto, sans-serif;
  }
  .valorSaldo {
    flex-grow: 1;
    flex-basis: auto;
    font: 700 24px Roboto Flex, -apple-system, Roboto, Helvetica,
      sans-serif;
  }