*{
    /* border: 1px solid #0f0; */
}
.betContainer{
    width: 85%;
    background-color: #262626;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.titleAndTxtContainer{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.roulleteContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.spinBtn{
    margin-top: 15px;
    width: 170px;
    height: 50px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #a25ca4;
    border: none;
    border-radius: 4px;
    color: #eee;
    letter-spacing: 2px;
    font-size: 30px;
    box-shadow: 0 0 5px #0000007c;
}