.containerAposta {
  background-color: #181818;
  display: flex;
  max-width: 360px;
  flex-direction: column;
  align-items: start;
  color: #fff;
  justify-content: center;
  padding: 80px 27px;
}
.Aposta2 {
  border-radius: 10px;
  background-color: #a25ca4;
  display: flex;
  margin-top: 82px;
  width: 144px;
  max-width: 100%;
  flex-direction: column;
  padding: 13px 13px 26px;
}
.tituloAposta {
  font: 500 14px Roboto, sans-serif;
}
.img {
  aspect-ratio: 1.09;
  object-fit: auto;
  object-position: center;
  width: 100%;
  fill: url(<path-to-image>) lightgray 0px 0px / 100% 100% no-repeat;
  stroke-width: 5px;
  stroke: #5b415b;
  border-color: rgba(91, 65, 91, 1);
  border-style: solid;
  border-width: 5px;
  align-self: center;
  margin-top: 12px;
}
.textoAposta {
  text-align: center;
  margin-top: 6px;
  font: 600 10px Roboto, sans-serif;
}
.Aposta5 {
  border-radius: 12px;
  background-color: #d9d9d9;
  margin-top: 4px;
  height: 12px;
}