.betPageContainer {
  border-radius: 10px;
  background-color: #a25ca4;
  margin-top: 14px;
  height: 427px;
  width: 80%;
  margin: 40px 40px;
  text-align: center;
  justify-content: center;
}
.betPageContainer h2{
  text-decoration: none;
  padding: 10px;
  font-size: 24px;
}
.containerInFocus{
  background-color: #5B415B;
  height: 340px;
  border-radius: 10px;
  height: 290px;
}
.organize{
  display: flex;
  margin: 0px 22px;
  border-radius: 10px;
  height: 150px;
}
.betPageContainer img{
  width: 150px;
  height: 150px;
  padding: 12px;
}
.betPageContainer label{
  font-size: 12px;
  width: 200px;
  font-weight: 500;
}
.lock{
  height: 150px;
}
.lock img{
  margin-top: 20px;
  width: 36px;
  height: 36px;
  padding: 0;
}
.lock p{
  margin-top: 6px;
  font-weight: 700;
  font-size: 18px;
}
.Aposta  {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Aposta  p{
 max-width: 260px;
 margin-bottom: 12px;
 color:#7D577D;
 font-weight: 600;
}
.Aposta button{
  border: none;
  width: 220px;
  height: 28px;
  background-color: white;
  border-radius: 10px;
  color: #5B415B;
  font-weight: 700px;
  font-size: 16px;
}