
  .Loja {
    border-radius: 10px;
    background-color: #a25ca4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 144px;
    max-width: 100%;
    flex-direction: column;
    padding: 14px 14px 47px;
    margin: 0px 6px;
    height:240px;
  }
  .Loja h2{
    text-decoration: none;
    font-size: 14px;
    justify-content: center;
    width: 150px;
    padding: 0px 10px;
    text-align: center;
  }
.Loja img{
  padding-top:12px;
}
.Loja label{
  padding-top:6px;
  font-size: 10px;
  min-height: 32px  ;
}
.Loja p{
  padding-top:6px;
  font-size: 18px;
  font-weight: bold;
}
  